.title{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
}

.username{
    float:left;
    margin-top: 2%;
    width: 30%;
}

.hello{
    float: right;
    margin-left: 5%;
}

.comp{
    margin-top: 15%;
}