.field{
    margin-top: 3%;
    float: right;
    padding-left: 2%;
}

.dateandbeer{
    float: right;
    margin-top: 5%;
    width: 100%;
}

.selectform{
    float: right;
    width: 25%;
    margin-right: 2%;
}

.label{
    float: right;
    margin-top: 3%;
    margin-left: 1%;
    color: rgba(0, 0, 0, 0.54);
}

.fullpage{
    float: right;
    margin-right: 2%;
}